{extends "base.html"}
{cfg 'debug', false, false}


{block Application}
{if $cfg_debug}<!-- برنامه‌ها -->
<script type="text/javascript" src="/main/module.js"></script>
<script type="text/javascript" src="/main/routes.js"></script>
<script type="text/javascript" src="/main/controller.main.js"></script>
<script type="text/javascript" src="/main/controller.app.js"></script>
<script type="text/javascript" src="/main/controller.header.js"></script>
<script type="text/javascript" src="/main/controller.footer.js"></script>

<script type="text/javascript" src="/module/pluf.js"></script>
<script type="text/javascript" src="/module/pluf.saas.js"></script>
<script type="text/javascript" src="/module/pluf.help.js"></script>
<script type="text/javascript" src="/module/pluf.jahanjoo.js"></script>
{else}
<script type="text/javascript" src="/main/app.min.js"></script>
<script type="text/javascript" src="/module/pluf.min.js"></script>
<script type="text/javascript" src="/module/pluf.saas.min.js"></script>
<script type="text/javascript" src="/module/pluf.help.min.js"></script>
<script type="text/javascript" src="/module/pluf.jahanjoo.min.js"></script>
{/if}
{/block}